/*!
 * Moonshine
 * Scalable and Maintainable Architecture.
 *
 * Author:   Jack Ryan Oracoy
 * Website:  https://jackryanoracoy.github.io
 * Email:    jackryanoracoy@gmail.com
 * URL:      https://github.com/jackryanoracoy/moonshine
 * License:  https://github.com/jackryanoracoy/moonshine/blob/master/LICENSE.txt
 */
/*--------------------------------------------------
  Global reset
--------------------------------------------------*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
}

/*--------------------------------------------------
  HTML
--------------------------------------------------*/
html {
  min-width: 240px;
  color: #212121;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------------------------------------------
  Focus
--------------------------------------------------*/
*:focus {
  outline: 1px dotted #00BCD4;
}

body:not(.tab-used) *:focus {
  outline: none;
}

/*--------------------------------------------------
  Body
--------------------------------------------------*/
body {
  min-width: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-family: inherit;
}
body ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #E0E0E0;
}
body ::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
}
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}
@media print {
  body {
    font-family: inherit;
    width: 100%;
  }
}

/*--------------------------------------------------
  Main
--------------------------------------------------*/
main {
  display: block;
}

/*--------------------------------------------------
  Table
--------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media print {
  table thead {
    display: table-header-group;
  }
}

/*--------------------------------------------------
  Add the correct box sizing in Firefox.
  Show the overflow in Edge and IE.
--------------------------------------------------*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/*--------------------------------------------------
  Correct the inheritance and scaling of font size in all browsers.
  Correct the odd `em` font sizing in all browsers.
--------------------------------------------------*/
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*--------------------------------------------------
  Add the correct text decoration
  in Chrome, Edge, IE, Opera, and Safari.
--------------------------------------------------*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*--------------------------------------------------
  Remove the bottom border in Chrome 57-
  Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
--------------------------------------------------*/
b, strong {
  font-weight: bolder;
}

/*--------------------------------------------------
  Add the correct font size in all browsers.
--------------------------------------------------*/
small {
  font-size: 80%;
}

/*--------------------------------------------------
  Correct the inheritance and scaling of font size
  in all browsers.
  Correct the odd `em` font sizing in all browsers.
--------------------------------------------------*/
code, kbd, samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-family: var(--font-family-monospace, monospace);
  font-size: 1em;
}

/*--------------------------------------------------
  Prevent `sub` and `sup` elements from
  affecting the line height in all browsers.
--------------------------------------------------*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*--------------------------------------------------
  Remove the border on images inside links in IE 10-.
--------------------------------------------------*/
img {
  border-style: none;
}
@media print {
  img {
    page-break-inside: avoid;
  }
}

/*--------------------------------------------------
  Change the font styles in all browsers.
  Remove the margin in Firefox and Safari
--------------------------------------------------*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

/*--------------------------------------------------
  Show the overflow in IE.
  Show the overflow in Edge.
--------------------------------------------------*/
button, input {
  overflow: visible;
}

/*--------------------------------------------------
  Remove the inheritance of text transform in
  Edge, Firefox, and IE.
  Remove the inheritance of text transform in Firefox.
--------------------------------------------------*/
button, select {
  text-transform: none;
}

/*--------------------------------------------------
  Correct the inability to style clickable types in iOS and Safari.
--------------------------------------------------*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/*--------------------------------------------------
  Remove the inner border and padding in Firefox.
--------------------------------------------------*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*--------------------------------------------------
  Restore the focus styles unset by the previous rule.
--------------------------------------------------*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*--------------------------------------------------
  Correct the padding in Firefox.
--------------------------------------------------*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/*--------------------------------------------------
  Correct the text wrapping in Edge and IE.
  Correct the color inheritance from `fieldset` elements in IE.
  Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
--------------------------------------------------*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/*--------------------------------------------------
  Add the correct vertical alignment in Chrome, Firefox, and Opera.
--------------------------------------------------*/
progress {
  vertical-align: baseline;
}

/*--------------------------------------------------
  Remove the default vertical scrollbar in IE.
--------------------------------------------------*/
textarea {
  overflow: auto;
}

/*--------------------------------------------------
  Correct the cursor style of increment and
  decrement buttons in Chrome.
--------------------------------------------------*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*--------------------------------------------------
  Correct the odd appearance in Chrome and Safari.
  Correct the outline style in Safari.
--------------------------------------------------*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*--------------------------------------------------
  Remove the inner padding and cancel buttons
  in Chrome and Safari on macOS.
--------------------------------------------------*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*--------------------------------------------------
  Correct the inability to style clickable types
  in iOS and Safari.
  Change font properties to `inherit` in Safari.
--------------------------------------------------*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*--------------------------------------------------
  Add the correct display in Edge, IE 10+, and Firefox.
--------------------------------------------------*/
details {
  display: block;
}

/*--------------------------------------------------
  Add the correct display in all browsers.
--------------------------------------------------*/
summary {
  display: list-item;
}

/*--------------------------------------------------
  Add the correct display in IE 10+.
--------------------------------------------------*/
template {
  display: none;
}

/*--------------------------------------------------
  Add the correct display in IE 10.
--------------------------------------------------*/
[hidden] {
  display: none;
}

/*--------------------------------------------------
  Links
--------------------------------------------------*/
a {
  color: #263238;
  text-decoration: none;
}
a:hover, a:visited, a:active, a:focus {
  color: #37474F;
  text-decoration: underline;
}
@media print {
  a, a:visited {
    text-decoration: underline;
  }
}

/*--------------------------------------------------
  Typography
--------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 75%;
}

pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1.4rem;
}

@media print {
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=base.css.map */